
img {
    border: 1px solid gray;
    /* Gray border */
    border-radius: 360px;
    /* Rounded border */
    padding: 5px;
    /* Some padding */
    /* Set a small width */
}

main {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    background: url(./Images/phone_globe.jpg);
    background-repeat: no-repeat;
    background-position: center;
}

footer , header {
    background-color: red;
    border: 5px solid black;
}

body {
    width: fit-content;
    align-content: center;
    padding-left: 350px ;
    background-image: url("./Images/Background.jpg");
    background-size: auto;
}

#productbox {
    background-color:white;
    width: 250px;
}

table {
    border: 5px solid black; 
    background-color: red;
}

td {
    border: 5px solid black;
    background-color: white;
}

#description {
    width: 300px;
    padding: 10px;
}

#headerpic {
    border-radius: 0px;
    width: 718px;
    padding: 2px;

}

#submit{
    border: 5px solid black;
    background-color: black;
    }

    input[type=submit] {
        padding: 0px; 
        border: none; 
        color: Red;
        background-color: black;
        width: 720px;
        align-self: center;
        font-size: 2em;
    }